<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyWagesWorkers"
        tools:targetApi="31">
        <activity
            android:name=".SuccessActivity"
            android:exported="false" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payNow"
            android:exported="false" />
        <activity
            android:name=".update_agent_profile"
            android:exported="false" />
        <activity
            android:name=".verifyOtp"
            android:exported="false" />
        <activity
            android:name=".addActivity"
            android:exported="false" />
        <activity
            android:name=".sendOtp"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".forget_agent_password"
            android:exported="false" />
        <activity
            android:name=".agent_signupaccount"
            android:exported="false" />
        <activity
            android:name=".inside_agent"
            android:exported="false" />
        <activity
            android:name=".activity_agent_login"
            android:exported="false" />
        <activity
            android:name=".forget_customer_password"
            android:exported="false" />
        <activity
            android:name=".inside_customer"
            android:exported="false" />
        <activity
            android:name=".customer_signupaccount"
            android:exported="false" />
        <activity
            android:name=".Customer_login"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>